
.todoConteudo {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   width: 100%;
   height: 100%;
}

.imagem {
   width: 30%;
}

.form {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.numerico {
    display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}
.nomeCateValor {
   width: 33%;
}

.are {
   margin: 0 auto;
}

#h1 {
   text-align: center;
   padding: 15px;
}

.alert {
   width: fit-content;
   position: fixed;
   z-index: 10;
   top: 20px;
   right: 20px;
}


.botao {
   display: flex;
   flex-direction: row;
   margin: 0 auto;
}

.botoesSubmit {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: 1em 0;
}

.botoesSubmit > Button {
   margin: 10px;
   width: 5em;
}

.inputs {
   width: 20px;
}

#botao {
   margin: 0 auto;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}