.geral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #797979;
  height: 300px;
  width: 300px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 auto;
}

.oculto {
  display: none;
}

.comImagem {
  display: flex;
  border: 2px dashed #797979;
  height: 300px;
  width: 300px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  overflow: inherit;
  margin: 0 auto;
}

.uploadedRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px auto;
  align-items: center;
  padding: 15px 10px;
  border-radius: 6px;
  background-color: #c4c4c4;
  width: 285px;
  overflow: hidden;
}

#imagem {
  height: 99%;
  width: 58%;
  object-fit: cover;
}
